<div class="panel panel-default">
  <div class="panel-heading" #heading>
    <h3>{{ items.itemName }}</h3>
  </div>
  <div class="panel-body">
    <p class="card-text" *ngIf="status === 'Success'" style="font-weight: bold; color: white; background-color: green">
      {{ status }}
    </p>
    <p class="card-text" *ngIf="status === 'Not Bad'"
      style="font-weight: bold; color: white; background-color: yellowgreen">
      {{ status }}
    </p>
    <p class="card-text" *ngIf="status === 'Failed'" style="font-weight: bold; color: black; background-color: red">
      {{ status }}
    </p>
    <ng-content></ng-content>
  </div>
</div>