<div class="container">
  <app-input (itCreated)="onAddItem($event)"></app-input>
  <hr>
  <div class="flex-container">
    <app-cards *ngFor="let list of itemList; index as i" [items]="list" [status]="list.itemStatus">
      <hr>
      <button class="btn btn-danger" style="margin: 2vh 2vh; width: min-content;"
        (click)="destroyItem(i)">Hapus</button>
      <button class="btn btn-primary" style="margin: 2vh 2vh;width: min-content;" (click)="changeStatus(i)">Ganti
        Status</button>
    </app-cards>
  </div>
</div>